<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta
         http-equiv="X-UA-Compatible"
         content="IE=edge"
      />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0"
      />
      <script src="https://cdn.tailwindcss.com"></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
         integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      ></script>
      <title>Document</title>
   </head>
   <body>
      <nav class="bg-white shadow dark:bg-gray-800">
         <div
            class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
         >
            <a
               href="/post/home"
               class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
               >Home</a
            >
            <a
               href="/dashboard"
               class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
               >Dashboard</a
            >

            <a
               href="/profile"
               class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
               >Profile</a
            >

            <a
               href="/logout"
               class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
               >Logout</a
            >
         </div>
      </nav>
   </body>
</html>
